@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;1,100;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --primary-color:#020251;
    --secondary-color:#012579;
    --text-dark:#0f172a;
    --text-light:#6f85a3;
    --white:#ffffff;
    --max-width:1400px;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.navdesti{opacity:1.05;
     font-family:'poppins',sans-serif;
    background:linear-gradient(to right,
    rgba(2, 54, 89, 0.9),
    rgba(255,255,255,0)
    ),
    url("imagebox/image copy3.png");
    background-position:center center;
    background-size:cover;
    size:cover;
    background-repeat: no-repeat;
}
.container{ scrollbar-width: 5%;
    max-width:var(--max-width);
    min-height:100vh;
    margin:auto;
    padding:1rem;
    display:flex;
    flex-direction:column;
}
nav{
    display:flex;
    align-items:center;
    justify-content:space-between;
    gap:1rem;
}
.nav_logo {color:white;
font-size:20px;}
.nav_logo img{
    max-width:100px;
    border-radius:50%;scale:1.05;
    box-shadow:0 0 25px white;
}
.nav_link ul{list-style:none;
display:flex;
align-items:center;
gap:4rem;
}
.nav_link :hover{box-shadow: 0 0 50px 0px white;
scale:1.05;
    transform:translate(0.3s) ease-in-out;
}
.link a{
    text-decoration:none;
    font-weight:600;
    color:white;
}
.search{
    
    max-width: 300px;
    padding:0.5rem 1rem;
    display:flex;
    align-items: center;
    gap:1rem;
    background-color: white;
    border-radius:2rem;
    transition:0.3s;   
}
.search input{
    font-size:1rem;
    color:var(--primary-color);
    outline:none;
    border:none;
}

.search input::placeholder{
    color:var(--secondary-color);
}
.search span{ 
    font-size: 1.5rem;
    color:var(--primary-color);
}
.login{
    padding:1rem 1rem 1rem 1rem;
    display:flex;
     align-items:center;
     gap:1rem;
     font-weight:600;
     color:white;
     background-color:var(--primary-color);
     border-radius: 2rem;
     cursor:pointer; 
     height:45px;width:100%;
     transition:0.3s;
}

.login button{border-radius:50%;
    height:35px;width:35px;
    font-size:100%;
    color:var(--primary-color);
    background-color: white;

}
.loginh :hover
{scale:1.05;
    box-shadow:0 0 50px var(--primary-color)
}
.destination_container img{height:50px;}
.destination_container{
    position: relative;
    padding:5rem 0 5rem 5rem;
    flex:1;
    display:grid;
    grid-template-columns: 1fr 2fr;
    gap :2rem;
    align-items:center;
}
.destination_container span{
    color:white;font-size:30px;
}
.destination_container span:hover{
    box-shadow:0 0 25px white;
    border-radius:100%;
    padding:0.4rem;
}
.bg_img1{
    position: absolute;
    bottom:5rem;right:80%;
    transform:translateX(100%);
    opacity:0.8;
    z-index:-1;
}

.socials{
    position: absolute;
    top:25rem;
    left:0;
    display:flex;
    flex-direction:column;
    gap:1.5rem;
}
.socials::after{
    position: absolute;
    content:"";
    top:-22rem;
    left:15px;
    height:15rem;
    width:2px;
    background-color: white;
}
.social span{
    font-size:2rem;
   color:white; 
}
.content h1{
    margin-bottom: 1rem;
    font-size:4.5rem;
    font-weight: 800;
    color:white;
}
.content h1{-webkit-text-stroke:2px white;
    -webkit-text-fill-color:transparent;
}
.content p{
    max-width:350px;
    margin-bottom: 2rem;
    line-height: 1.5rem;color:white;
}
.content .btn{
    padding:0.75rem 2rem;
    outline:none;border:none;
    font-size:1rem;
    font-weight: 600;
    color:white;border-radius:3px;
    background-color: var(--secondary-color);
    cursor:pointer;
}
.content .btn:hover{ box-shadow:0 0 25px var(--primary-color);
        scale:1.05;
    transform:translate(0.3s) ease-in-out;
    border-color:var(--primary-color);
}
.destination_grid{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:1rem;
}
.destination_card{
   height:100%;
   border-radius:3px;
   background-color:white;
   box-shadow:2px 2px 30px rgba(0,0,0,0.7);
}
.destination_card img{
    width:100%;height:40%;
}
.card_content{padding:2rem;}
.card_content h4{
    margin-bottom:.5rem;
    font-size:1.2rem;
    font-weight:600;
    color:var(--text-dark);
}
.card_content p{
    margin-bottom:1rem;
    font-size:.9rem;
    line-height:1.5rem;
    color:rgb(66, 63, 63);
}
.card_content .btn{
    padding:0.5rem 1rem;
    outline:none;
    border:none;
    font-weight:500;
    color:white;
    background-color: var(--primary-color);
    cursor:pointer;
}
@media(width < 1200px){
    .search{
        max-width: 350px;
    }
    .destination_container{
        grid-template-columns: 1fr;
    }
}
@media(width < 900px){
    .nav_links{display:none;}
    .content h1{
        font-size:4rem;
    }
    .destination-grid{
        grid-template-columns: repeat(2,1fr);
    }
}


.idealdesti{ background-color: var(--text-light);
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:0.5rem;
    background:linear-gradient(to right,
    rgba(2, 54, 89, 0.9),
    rgba(255,255,255,0)
    );
}
.idealdesti .destination_card{
   height:90%;width:80%;
   border-radius:9px;padding-top:1rem;
   background-color:rgb(246, 227, 211);
   box-shadow:2px 2px 30px rgba(0,0,0,0.7);
}
 .idealdesti .destination_card img{
    width:100%;height:40%;
}
.idealdesti .card_content{padding:1rem;}
 .idealdesti .card_content h4{
    margin-bottom:.5rem;
    font-size:1.2rem;
    font-weight:500;
    color:var(--text-dark);
}
 .idealdesti .content h1{
    margin-bottom: 1rem;
    font-size:5rem;
    font-weight: 900;
    color:rgb(18, 1, 1);
}
 .idealdesti.content h1{-webkit-text-stroke:2px white;
    -webkit-text-fill-color:transparent;
}
 .idealdesti .content p{
    max-width:350px;
    margin-bottom: 2rem;
    line-height: 1.5rem;color:rgb(253, 247, 247);
}
.idealdesti .content .btn{
    padding:0.75rem 2rem;
    outline:none;border:none;
    font-size:1rem;
    font-weight: 600;
    color:white;border-radius:8px;
    background-color: var(--primary-color);
    cursor:pointer;
}
.idealdesti .content .btn:hover{ box-shadow:0 0 25px var(--primary-color);
        scale:1.05;
    transform:translate(0.3s) ease-in-out;
    border-color:var(--primary-color);
}
.prices{ background-color: var(--text-light);
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:1rem;
    background:linear-gradient(to right,
    rgba(2, 54, 89, 0.9),
    rgba(255,255,255,0)
    );}
   
    .destination_price{
        margin-left:9rem;
    height:100%;width:90%;
    color:var(--text-dark);
    border-radius:9px;padding-top:1rem;
    background-color:rgba(211, 244, 246, 0.866);
    box-shadow:2px 2px 30px rgba(0,0,0,0.7);
 }
 .destination_Price :hover{
    box-shadow: 0 0 50px black;
    transform:translate(0.8s) ease-in-out;
    scale:2;
 }
 .prices .card_content{padding:1rem;}
 .prices .card_content h4{
    margin-bottom:.5rem;
    font-size:1.2rem;
    font-weight:500;
    color:var(--text-dark);
}
.perks{line-height: 1rem;
 font-size:16px;
color:rgb(20, 20, 116);}
.destination_price .btn{
    background-color: rgba(19, 19, 119, 0.832);
    border-radius:8px;
}
.destination_price .btn:hover{
    scale:1.05;
    box-shadow:0 0 25px var(--primary-color);
}
h2{
    background-color: var(--text-light);
    display:grid;
    align-items:center;font-weight:800;
    justify-content:center;
    padding-bottom:2rem;
    gap:0.5rem;
    background:linear-gradient(to right,
    rgba(2, 54, 89, 0.9),
    rgba(255,255,255,0)
    );
}
h2 {-webkit-text-stroke:2px rgb(23, 19, 19);
    -webkit-text-fill-color:rgba(0, 0, 0, 0.784);
}
 .card_rate .card_content p{
    font-size:20px;
    color:#144ac8;
}


.footer{
    background-color:var(--text-dark);
    background:linear-gradient(to right,
    rgba(2, 54, 89, 0.9),
    rgba(255,255,255,0)
    );
    padding-bottom:1%;
}
.footer .social-icons{
    text-align:center;
    font-size:1.8rem;
}
.footer ul{
    text-align:center;
    font-size:1.8rem;
}
.footer ul li{ display:inline-block;
    margin-left:20px;
}
.footer ul li a{
    color:var(--text-dark);
    border-bottom:3px solid transparent;
    transition:0.3s ease-in-out;
}
.footer ul li a:hover{
    border-bottom:3px solid rgb(0, 208, 255);
}
.footer .social-icons{
    display:inline-flex;
    justify-content:center;
    align-items:center;
    font-size:3rem;
    border-radius:50%;
    padding:3px 5rem 0 40rem;
    background:transparent;
color:var(--main-color);
margin:2rem 0.3rem;
transition:0.3s ease;
   }
   .footer .social-icons a{
    padding:10px;
    left:0;
    color:#06067dc9;
    text-align:center;
   }
  .footer .social-icons a:hover{ 
    color:var(--text-color);
    background-color: var(--msin-color);
    transform:scale(1.2)translateY(-5px);
    box-shadow:0 0 25px var(--main-color);
   }
.footer .copyright{
    text-align:center;
    margin-top:14px;
    font-size:25px;
}